!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= $config.title
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "../bootstrap/css/bootstrap.css", :rel => "stylesheet"}
      :css
        body {
          padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    %link{:href => "../bootstrap/css/bootstrap-responsive.css", :rel => "stylesheet"}
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" }
    %script{ :src => "../bootstrap/js/bootstrap.min.js" }
    %script{ :src => "../js/prettify.js" }
    %link{:href => "../css/prettify.js", :rel => "stylesheet"}
    %link{:href => "../css/sunburst.css", :rel => "stylesheet"}
    %script{ :src => "../js/code.js" }
    %script{ :src => "../js/tweet.js" }
    - if request.path =~ /edit/
      %script{ :src => "../js/edit.js" }
    %script{ :src => "../js/blog.js"}
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => request.scheme + "://" + request.host + ":" + request.port.to_s }= $config.title
          .nav-collapse.collapse
            -if request.path =~ /admin/
              = haml :nav_admin, :layout => false
            - else
              = haml :nav_public, :layout => false
    .container
      = yield
