%h1 Posts list
- if @posts.count > 0
  %table.table
    %tr
      %th Number
      %th Title
      %th TimeStamp
      %th Options
    - @posts.each do |post|
      %tr
        %td= post[:id]
        %td= post[:title]
        %td= post[:created_at]
        %td
          %a.btn{ :href => "/post/#{post[:id]}"} Display
          %a.btn{ :href => "/admin/post_edit?id=#{post[:id]}"} Edit
          %a.btn.btn-danger.confirm{:href => "/admin/post_delete/#{post[:id]}"} Delete
  = haml :pagination
- else
  No more posts
