- if @posts.count > 0
  %h1 Posts list
  %table.table
    %tr
      %th Number
      %th Title
      %th TimeStamp
      %th Options
    - @posts.each do |post|
      %tr
        %td= post[:id]
        %td= post[:title]
        %td= post[:created_at]
        %td
          %a.btn{ :href => "/post/#{post[:id]}"} Display
          %a.btn{ :href => "/admin/post_edit?id=#{post[:id]}"} Edit
          %a.btn.btn-danger.confirm{:href => "/admin/post_delete/#{post[:id]}"} Delete
  = haml :pagination
- else
  %div.alert 
    %button.close{ :'data-dismiss' => :alert, :type => :button } &times;
    There are no posts
    
  %a.btn{ :href => "/admin/post_edit"} Add a post
